#page__artist{
  .artist-profile{
    .media-heading{
      margin-bottom: 15px;
      small{
        margin-left: 15px;
      }
    }
    .summary{
      border-top: .5px solid silver;
      margin-top: 10px;
      padding-top: 15px;
      &>span{
        margin-right: 20px;
        padding-right: 20px;
        border-right: .5px solid silver;
        &:last-child{
          border-right: none;
        }
      }
    }
    &>div{
      img{
        height: auto;
        max-height: 80%;
        width: 80%;
      }
      h4{
        margin-top: 20px;
      }
    }
  }
}
.details-toggle{
  .text-short{
    display: inline;
  }
  .text-full{
    display: none;
  }
  .text-toggle{
    color: blue;
    margin-left: 5px;
    &:before{
      content: "[+]";
    }
  }
  &.full-text{
    .text-short{
      display: none;
    }
    .text-full{
      display: inline;
    }
    .text-toggle:before{
      content: "[-]";
    }
  }
}
